<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- LogSense appender. Use the correct accessToken value, as provided by the LogSense app -->
    <appender name="LOGSENSE" class="com.logsense.logback.Appender" >
        <!-- You can also provide it as an environment variable,
             e.g. LOGSENSE_TOKEN=<your token> or JVM parameter -Dlogsense.token=<your token> -->
        <logsenseToken>ENTER_LOGSENSE_TOKEN</logsenseToken>

        <useLocalIpAddress>true</useLocalIpAddress>
        <sourceName>example</sourceName>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern><![CDATA[%date{HH:mm:ss.SSS} [%thread] %-5level %logger{15}#%line %X{req.requestURI} %msg\n]]></pattern>
        </encoder>
    </appender>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOGSENSE" />
    </root>
</configuration>
